---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>... kde píšu co zrovna chci.</h2>

    <p>zatím nevím co bych tu psal. Tak tady nechám jen tento text.</p>

    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
            ))
        }
    </ul>
</BaseLayout>