---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon";

const pageTitle = "Hlavní stránka";
---

<BaseLayout pageTitle={pageTitle}>
	<section class="min-h-[14rem] pt-24 pb-32 relative bg-loca-50">
		<div class="fluid-container grid md:grid-cols-12 gap-8">
			<article class="md:col-span-8 md:col-start-3 flex flex-col sm:flex-row justify-center items-center gap-12 text-shark z-10">
				<div class="drop-shadow-xl">
					<div class="blob w-full aspect-[1/1]">
						<img class="w-full h-full object-cover" src="visuals/stepan-kulik-avatar.jpg">
					</div>
					<svg width="0" height="0">
						<clipPath id="mask" clipPathUnits="objectBoundingBox">
						  <path d="M0.807,0.208 C0.903,0.305,1,0.415,1,0.529 C1,0.644,0.917,0.762,0.821,0.855 C0.726,0.947,0.629,1,0.533,1 C0.438,1,0.344,0.939,0.239,0.847 C0.134,0.754,0.018,0.64,0.008,0.514 C0,0.388,0.098,0.251,0.203,0.154 C0.308,0.057,0.42,0,0.521,0.014 C0.621,0.027,0.711,0.111,0.807,0.208"/></path>
						</clipPath>
					</svg>
				</div>
				<div class="flex flex-col tracking-wide">
					<h1 class="text-4xl text-loca font-bold">Ahoj 👋</h1>
					<p class="pt-2 pb-8">jmenuji se <strong>Štěpán Kulík</strong> a jsem frontend kodér na volné noze připravený podat pomocnou ruku Vašemu projektu.</p>
					<figure class="flex flex-col sm:flex-row gap-4 sm:items-center">
						<figcaption class="text-sm underline underline-offset-4 decoration-wavy decoration-loca">Kontaktujte mě skrze:</figcaption>
						<ul class="flex gap-4">
							<li>
								<a href="https://wa.me/721487304" aria-label="Kontaktovat skrze WhatsApp" title="Kontaktovat skrze WhatsApp" class="transition-colors fill-loca hover:fill-loca-500">
									<svg aria-hidden="true" viewBox="0 0 24 24" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg"><path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"/></svg>
								</a>
							</li>
							<li>
								<a href="mailto:jsem@stepankulik.cz" aria-label="Kontaktovat skrze e-mail" title="Kontaktovat skrze e-mail" class="transition-colors fill-loca hover:fill-loca-500">
									<svg aria-hidden="true" viewBox="0 0 24 24" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg"><path d="M15.61 12c0 1.99-1.62 3.61-3.61 3.61-1.99 0-3.61-1.62-3.61-3.61 0-1.99 1.62-3.61 3.61-3.61 1.99 0 3.61 1.62 3.61 3.61M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12c2.424 0 4.761-.722 6.76-2.087l.034-.024-1.617-1.879-.027.017A9.494 9.494 0 0 1 12 21.54c-5.26 0-9.54-4.28-9.54-9.54 0-5.26 4.28-9.54 9.54-9.54 5.26 0 9.54 4.28 9.54 9.54a9.63 9.63 0 0 1-.225 2.05c-.301 1.239-1.169 1.618-1.82 1.568-.654-.053-1.42-.52-1.426-1.661V12A6.076 6.076 0 0 0 12 5.93 6.076 6.076 0 0 0 5.93 12 6.076 6.076 0 0 0 12 18.07a6.02 6.02 0 0 0 4.3-1.792 3.9 3.9 0 0 0 3.32 1.805c.874 0 1.74-.292 2.437-.821.719-.547 1.256-1.336 1.553-2.285.047-.154.135-.504.135-.507l.002-.013c.175-.76.253-1.52.253-2.457 0-6.617-5.383-12-12-12"/></svg>
								</a>
							</li>
							<li>
								<a href="https://github.com/kuldas" aria-label="Kontaktovat skrze GitHub" title="Kontaktovat skrze GitHub" class="transition-colors fill-loca hover:fill-loca-500">
									<svg aria-hidden="true" viewBox="0 0 24 24" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
								</a>
							</li>
						</ul>
					</figure>
				</div>
			</article>
		</div>
		<div class="triangle">
			<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
				<path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" class="shape-fill"></path>
			</svg>
		</div>
	</section>
	<section class="fluid-container grid md:grid-cols-12 gap-8">
		<h2 class="md:size-2xl py-8 text-4xl text-loca font-bold italic not-prose">Rychlý, moderní a funkční web</h2>
		<article class="sm:col-span-7 prose">
			<p>Vytvářím rychlé a moderní webové stránky. Zákládám si na <strong>jednoduchosti</strong>, <strong>uživatelské přívětivosti</strong> a <strong>funkčnosti</strong>.</p>
			<p>Rád používám moderní technologie a kladu důraz na přístupnost a sémantiku.</p>
			<p>Dodržuji stanovené termíny a vždy dodám práci na 100%.</p>
		</article>
		<aside class="sm:col-span-5 ">
			<ul class="grid grid-cols-3 gap-8 place-items-center h-full group">
				<li class="w-full h-full">
					<a class="flex flex-col items-center gap-2 grayscale motion-safe:transition hover:grayscale-0" href="/slovnik/">
						<Icon name="statamic-icon" class="fill-loca w-12 aspect-square" />
						Statamic
					</a>
				</li>
				<li class="w-full h-full">
					<a class="flex flex-col items-center gap-2 grayscale motion-safe:transition hover:grayscale-0" href="/slovnik/">
					<Icon name="astro-icon" class="fill-loca w-12 aspect-square" />
					Astro</a>
				</li>
				<li class="w-full h-full">
					<a class="flex flex-col items-center gap-2 grayscale motion-safe:transition hover:grayscale-0" href="/slovnik/">
					<Icon name="laravel-icon" class="fill-loca w-12 aspect-square" />
					Laravel</a>
				</li>
				<li class="w-full h-full">
					<a class="flex flex-col items-center gap-2 grayscale motion-safe:transition hover:grayscale-0" href="/slovnik/">
					<Icon name="alpinejs-icon" class="fill-loca w-12 aspect-square" />
					Alpinejs</a>
				</li>
				<li class="w-full h-full">
					<a class="flex flex-col items-center gap-2 grayscale motion-safe:transition hover:grayscale-0" href="/slovnik/">
					<Icon name="tailwind-icon" class="fill-loca w-12 aspect-square" />
					Tailwind</a>
				</li>
				<li class="w-full h-full">
					<a class="flex flex-col items-center gap-2 grayscale motion-safe:transition hover:grayscale-0" href="/slovnik/">
					<Icon name="typescript-icon" class="fill-loca w-12 aspect-square" />
					Typescript</a>
				</li>
			</ul>
		</aside>
	</section>
</BaseLayout>
