---
import Social from "../components/Social.astro";

const date = new Date();

// Získání aktuálního roku
const currentYear: number = date.getFullYear();
---

<footer class="w-full py-4 bg-neutral-200">
    <div class="fluid-container flex justify-between items-center text-sm">
        Štěpán Kulík - frontend vývojář
        <div class="flex gap-4">
            <Social platform="twitter" platformName="Twitter" username="kuldaas" />
            <Social platform="github" platformName="GitHub" username="kuldas" />
        </div>
    </div>
</footer>