---
import Hamburger from "../components/Hamburger.astro";
import Navigation from "../components/Navigation.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Logo from "./Logo.astro";
---

<header class="absolute top-0 w-full py-2">
    <div class="fluid-container flex justify-between items-center">
        <Logo />
        <Hamburger />
        <Navigation client:load />
    </div>
</header>