---
---
<a href="/" class="max-w-[150px] sm:max-w-[200px] motion-safe:hover:scale-110 transition-transform">
    <img src="/visuals/stepan-kulik-logo.svg" alt="Štěpán Kulík - frontend kodér" width="200px">
</a>