---
import { NavigationLinks } from '../config'
---
<div class="hidden sm:block">
    <nav>
        <ul class="flex gap-8 text-sm text-shark font-bold">
            {
                NavigationLinks.map((item) => (
                <li>
                    <a
                        href={import.meta.env.BASE_URL + item.href}
                        class={
                        (item.href.length > 0 && Astro.url.toString().includes(item.href)
                            ? 'active '
                            : '' ) +
                        'p-1 hover:text-shark-700'
                        }
                        aria-current={
                        item.href.length > 0 && Astro.url.toString().includes(item.href)
                            ? 'page'
                            : undefined
                        }>
                        {item.name}
                    </a>
                </li>
                ))
            }
        </ul>
    </nav>
</div>
