---
import navigation from "../data/navigation.json";
---
<div class="hidden sm:block">
    <nav>
        <ul class="flex gap-4 text-sm text-white">
        {
            navigation.map(({ name, path }) => (
                <li><a href={ path }>{ name }</a></li>
            ))
        }
        </ul>
    </nav>
</div>